<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>chap05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>mysqlDriverLoader</servlet-name>
  	<servlet-class>jdbc.MySQLDriverLoader</servlet-class>
  	<load-on-startup>1</load-on-startup>	<!-- 우선순위 -->
  </servlet>

  <servlet>
  	<servlet-name>DBCPInit</servlet-name>
  	<servlet-class>jdbc.DBCPInit</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
	
	
	<servlet>
		<servlet-name>now</servlet-name>
		<servlet-class>example.NowServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>now</servlet-name>
		<url-pattern>/now</url-pattern>
	</servlet-mapping>


 	<servlet>
  		<servlet-name>DBCPInit2</servlet-name>
  		<servlet-class>jdbc.DBCPInit2</servlet-class>
  		<init-param>
  			<param-name>jdbcdriver</param-name>
  			<param-value>com.mysql.jdbc.Driver</param-value>
  		</init-param>
  		
  		<init-param>
  			<param-name>jdbcUrl</param-name>
  			<param-value>jdbc:mysql://localhost:3306/chap14?characterEncoding=utf8</param-value>
  		</init-param>
		
		<init-param>  		
  			<param-name>dbUser</param-name>
  			<param-value>jspexam</param-value>
  		</init-param>
  		
		<init-param>  		
  			<param-name>dbPass</param-name>
  			<param-value>jsppw</param-value>
  		</init-param>

		<init-param>  		
  			<param-name>poolName</param-name>
  			<param-value>chap14</param-value>
  		</init-param>
  		
  		<load-on-startup>1</load-on-startup>
  	</servlet> 

</web-app>